recipes.py  # because github will ban me again
todo.txt
__pycache__/
super_secret_token.py
.env/
*.log
balances.json
sex_counts.json
ships.json
.ropeproject/
.idea/
inventories.json
items.py # because it also has some "unusual" content
.venv/